<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Session</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{/static/style.css}">
    <link rel="icon" type="image/png" href="/static/images/icon.png" th:href="@{/static/images/icon.png}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="container-fluid index">

<nav id="navbar" class="navbar navbar-expand-lg bg-transparent">
    <div class="navbar-brand" id="logo-container">
        <a th:href="@{/index}">
            <img id="logo" th:src="@{/static/images/icon.png}" alt="logo"/>
        </a>
    </div>
    <ul class="nav-list">
        <li><a href="/index" th:href="@{/index}">Home</a></li>
        <li><a href="/shoes" th:href="@{/shoes}">Shoes</a></li>
        <li><a href="/customers" th:href="@{/customers}">Customers</a></li>
        <li><a href="/add-customer" th:href="@{/addCustomer}">Add Customer</a></li>
        <li><a href="/add-shoe" th:href="@{/addShoe}">Add Shoe</a></li>
    </ul>
</nav>

<h1>Sessions</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-striped-columns table-responsive table-bordered table-dark" >
                <tr>
                    <th>Time</th>
                    <th>Page</th>
                </tr>
                <tr th:each="visit : ${session.pageVisits}">
                    <td th:text="${visit.split(' - ')[1]}"></td>
                    <td th:text="${visit.split(' - ')[0]}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<footer class="footer-index" th:insert="~{footer::copy}"> ShoeShop &#169; 2023 All rights reserved</footer>

</body>
</html>